
@font-face {
    font-family: Campana;
    src: url("../fonts/CampanaScript.otf");
}*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFBDD8;
}
section{
    display: flex;
    height: 100vh;
}
section>div{
    width: 50%;

}
#img{
    background-color: black;
}
img#image1{
    height: 100%;
    width: 90%;
    margin-left: 74px;
}
img#icono{
    margin-left: 0;
    margin-top: 30px;
    width: 30%;
    height: 6%;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 140px;
    font-family: Campana;
    margin-top: 10px;
    font-weight: 10;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
}
section>div>input{
    margin-left: 130px;
    margin-top: 10px;
}
#txtNC{
    margin-left: 130px;
    margin-top: 10px;
    font-size: 50px;
    font-family: Campana;
    font-weight: 9;
    color: rgb(0, 0, 0);
}
#txt{
    height: 39px;
    width: 65%;
    border: none;
    border-radius: 15px;
}
#login{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 10px;
    height: 40px;
    width: 250px;
    margin-top: 25px;
    margin-left: 250px;
    background-color: #B5D8EB;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
#login:hover{
    background-color: #7dc6ee;
    cursor: pointer;
}
.sign{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.sign>p{
    margin-right: 5px;
}

