@font-face {
    font-family: Campana;
    src: url("../fonts/CampanaScript.otf");
}*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../img/fondo.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
header{
    width: 100%;
    height: 20%;
}
#icono{
    width: 20%;
}
.sign{ 
    height:80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 700px;
    background-color: #F8D3CD;
    border-radius: 60px;
}
.sign>h1{
    text-align: center;
    margin-top: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid white;
    font-size: 70px;
    font-family: Campana;
    font-weight: 40;
}
#txtCamp{
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    font-family: Campana;
    font-size: 3rem;
    font-weight: 3;

}
#input{
    width: 70%;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 10px;
    border: none;
    background: white;
    outline: none;
    border-radius: 10px;
}
.user>label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(3, 3, 3);
    transform: translateY(-50%);
    font-size: 40px;
    pointer-events: none;
    transition: .5%;
    font-family: Campana;
}
#login{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 10px;
    height: 40px;
    width: 50%;
    margin-top: 25px;
    margin-left: 25%;
    background-color: #F391C7;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
#login:hover{
    background-color: #f356ac;
}
div>a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



