@media (max-width:425px){
    section>div#img{
        display: none;
    }
    #phone{
        width: 425px;
    }
    #phone>img#icono{
        height: 40px;
        width: 30%;
        margin-top: 10px;
        margin-left: 10px;
    }
    #txtNC{
        margin-left: 10px;
    }
    #txt{
        margin-left: 63.75px;
    }
   #login{
    display: flex;
    width: 40%;
    margin-left: 30%;
   } 
   .sign{
    font-size: 20px;
   }
}